body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: gold;
  grid-column-start: 1;
  grid-column-end: 5;
}

.content {
  background-color: greenyellow;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav {
  background-color: orange;
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer {
  background-color: purple;
  grid-column-start: 1;
  grid-column-end: 5;
}
