.father {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  height: 200vh;
  flex-wrap: wrap;
}

/* first box */
.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  /* order: 2; */
  /* centering texts */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* second box */
.child:nth-child(2) {
  /* align-self: center; */
  /* order: 3; */
}

/* third box */
.child:nth-child(3) {
  /* align-self: flex-end; */
  /* order: 0; */
}
