.father {
  display: flex;
  flex-direction: row;
  width: 100wh;
  height: 100vh;
  justify-content: center;
}

/* first box */
.child {
  flex-basis: 20%;
  background: peru;
  color: white;

  /* centering texts */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* second box */
.child:nth-child(2) {
  background-color: black;
}

.child:nth-child(3) {
  background-color: peru;
}
