.father {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

/* first box */
.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  order: 2;
}

/* second box */
.child:nth-child(2) {
  align-self: center;
  order: 3;
}

/* third box */
.child:nth-child(3) {
  align-self: flex-end;
  order: 0;
}
