@import "_responsive_mixins";

h1 {
  color: red;
  @include responsive("iphone-portrait") {
    color: yellow;
  }
  @include responsive("iphone-landscape") {
    color: blue;
  }
  @include responsive("tablet-portrait") {
    color: green;
  }
}
