@import "_variables";

* {
  box-sizing: border-box;
}

h2 {
  color: $bg;
}

.box {
  margin-top: 20px;
  &:hover {
    background-color: green;
  }
  h2 {
    color: blue;
    &:hover {
      background-color: black;
    }
  }
  button {
    color: red;
  }
}
